.about {
}

.about-content {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    background: linear-gradient(#f5f5f5, #fff);
    border-radius: 1rem;
}

.about-head {
    font-size: 3rem;
    color: #000;
    margin-bottom: 1rem;
    line-height: 0.8;
    font-family: Gabriola;
    flex-basis: 1;
}

.about-comment {
    padding-right: 2rem;
    font-size: 17px;
    color: #8a8a8a;
}

.about-image {
    flex-basis: 1;
    display: grid;
    place-items: center;
}
.about-image img {
    max-width: 80%;
    float: none;
}

@media only screen and (min-width: 768px) {
    .about-head {
        font-size: 4.3rem;
    }

    .about-content {
        display: flex;
        flex-direction: row;
        gap: 3rem;
        padding: 5rem 3rem 0;
        background: linear-gradient(#f5f5f5, #fff);
        border-radius: 1rem;
    }

    .about-image img {
        max-width: none;
        max-height: 90%;
        float: right;
    }
}
